
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 40% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 40% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 20%;

    --primary: 182 88% 31%;
    --primary-foreground: 210 40% 98%;

    --secondary: 194 100% 23%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 10% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 161 38% 70%;
    --accent-foreground: 210 40% 20%;

    --destructive: 10 79% 38%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 182 88% 31%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.mapboxgl-map {
  @apply rounded-lg;
}
